APP_NAME=en-fr-to-mg-service
APP_ENV=development
HOST=0.0.0.0
PORT=8000
PROVIDER=local_nllb
HF_MODEL_NAME=facebook/nllb-200-distilled-600M
SOURCE_LANGUAGE_DEFAULT=auto
TARGET_LANGUAGE=mg
TRANSLATION_MAX_LENGTH=256
MODEL_CACHE_DIR=/models
LOAD_MODEL_ON_STARTUP=false
