APP_NAME=en-fr-to-mg-service
APP_ENV=colab
HOST=0.0.0.0
PORT=8000
PROVIDER=hf_seq2seq
HF_MODEL_NAME=facebook/nllb-200-distilled-1.3B
HF_MODEL_FAMILY=nllb
HF_DEVICE=auto
SOURCE_LANGUAGE_DEFAULT=auto
TARGET_LANGUAGE=mg
TRANSLATION_MAX_LENGTH=256
MODEL_CACHE_DIR=/content/hf_models
LOAD_MODEL_ON_STARTUP=false
ENABLE_NGROK=true
NGROK_AUTHTOKEN=replace_me
