APP_NAME=en-fr-to-mg-service
APP_ENV=colab
HOST=0.0.0.0
PORT=8000
PROVIDER=gemini_api
HF_MODEL_NAME=facebook/nllb-200-distilled-1.3B
HF_MODEL_FAMILY=nllb
HF_DEVICE=auto
GEMINI_MODEL_NAME=gemini-2.5-flash-lite
GEMINI_API_KEY=replace_me
GEMINI_TEMPERATURE=0.1
GEMINI_THINKING_BUDGET=0
GEMINI_TIMEOUT_SECONDS=120
GEMINI_MAX_RETRIES=3
GEMINI_RETRY_DEFAULT_DELAY_SECONDS=20
SOURCE_LANGUAGE_DEFAULT=auto
TARGET_LANGUAGE=mg
TRANSLATION_MAX_LENGTH=256
MODEL_CACHE_DIR=/content/hf_models
LOAD_MODEL_ON_STARTUP=true
ENABLE_NGROK=true
NGROK_AUTHTOKEN=replace_me
